@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* VARIABLES */
:root {
    --tan: #fff4e4;
    --orange: #f88020;
    --red: #d1274b;
    --brown: #3d0e1e;
}
 
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--brown);
    text-shadow: 0 1px 0 rgba(0,0,0,0.06);
}

body{
    background-color: var(--tan);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--red);
}

.item {
    display: grid;
    background-color: var(--orange);
    color: var(--tan);
    justify-content: center;
    align-items: center;
    padding: 8px;
}

