<% include partials/header %>
<header>
<p> CG page</p>
</header>
<br /><br />
<a href="/campgrounds/new">Add CG</a>
<br /><br />

<% campgrounds.forEach(function(campground){ %>
    <div>
        <h4> <%= campground.name %></h4>
        <img src="<%= campground.image %>" width="220px"/>
    </div>
<% }); %>

<br /><br />
<a href="/">Go to LP</a>

<% include partials/footer %>