<% include partials/header %>

<div class="container">
    <div class="row">
        <h4><%= campground.name %></h4>
        <img src='<%= campground.image %>' />
        <p><%= campground.description %></p>
    </div>
</div>

<% include partials/footer %>