<h2>search page</h2>

<form action="/results" method="POST">
<input type="text" name="title" placeholder="title" /> <br /><br />
<input type="text" name="year" placeholder="year" /> <br /><br />
  <select name="plot">
      <option value="short">short</option>
      <option value="long">long</option>
  </select> <br /><br />
<button>submit</button>
</form>