<!-- email-design-1-team-link - start -->

<p id="wbTeamSupportLink">
    Team {{product_name }} <br />
    <a href="mailto:support@waybetter.com?subject={{product_name}}%20Question" target="_blank">support@waybetter.com</a>
</p>

<!-- email-design-1-team-link - end -->
