	<!-- email-design-1-html-body-end - start -->
										</tbody>
									</table>
									<!--[if (gte mso 9)|(IE)]>
											</td>
											</tr>
											</table>
											<![endif]-->
									<!-- // END TEMPLATE -->
								</td>
							</tr>
						</tbody>
					</table>
				</center>

			</td>
		</tr>
	</table>
</body> <!-- email-design-1-html-body-end - end -->