<!-- email-design-2-game-icon-with-labels-end - start -->

              <table align="center" border="0" cellpadding="0" cellspacing="0"
                  class="mcnButtonContentContainer wbButtonContainer">
                  <tbody>
                      <tr>
                          <td class="mcnButtonContent wbButtonContent" valign="middle">
                              <a class="mcnButton wbButton" href="{{cta_url}}" target="_self"
                                  title="">{{cta_label}}</a>
                          </td>
                      </tr>
                  </tbody>
              </table>
	          </p>
					</div>
				</td>
			</tr>
	</tbody>
</table>

<!-- email-design-2-game-icon-with-labels-end - end -->
