																					  <!-- email-design-1-body-end - start-->
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
										<!--[if (gte mso 9)|(IE)]>
											</td>
											</tr>
											</table>
											<![endif]-->
									</td>
								</tr>
								<!-- email-design-1-body-end - end -->