<!-- START waybetter-marketing-email-4_grid-game-section-title -->

<!-- Title -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="title fz-23 lh-28 a-center ff-a fw-700 pb-24" style="color:#000001; font-size: 23px; line-height: 28px; text-align:center; font-family:Averta, Roboto, Arial, sans-serif; font-weight: 700; padding-bottom: 24px;">
			<span class="fw-600" style="font-weight: 600;">{{game_section_title}}</span>
		</td>
	</tr>
</table>
<!-- END Title -->

<!-- END waybetter-marketing-email-4_grid-game-section-title -->