<!-- START waybetter-marketing-email-2_lt-head-content -->

	<!--[if gte mso 9]>
	<xml>
		<o:OfficeDocumentSettings>
		<o:AllowPNG/>
		<o:PixelsPerInch>96</o:PixelsPerInch>
		</o:OfficeDocumentSettings>
	</xml>
	<![endif]-->
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="date=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="x-apple-disable-message-reformatting" />
	<title>Email Template</title>
	<!--[if gte mso 9]>
	<style type="text/css" media="all">
		sup { font-size: 100% !important; }
		table, tr, th, td, div, p, span, a, strong { font-family: Arial, sans-serif !important; }
	</style>
	<![endif]-->


	<style type="text/css" media="screen">
		@font-face { font-family: 'Averta'; src: url('https://res.cloudinary.com/waybetter/raw/upload/v1593615865/external/fonts/Averta-Regular.woff'); font-weight: normal; font-style: normal; }

		@font-face { font-family: 'Averta'; src: url('https://res.cloudinary.com/waybetter/raw/upload/v1593615865/external/fonts/Averta-Semibold.woff'); font-weight: 600; font-style: normal; }

		@font-face { font-family: 'Averta'; src: url('https://res.cloudinary.com/waybetter/raw/upload/v1593615865/external/fonts/Averta-Bold.woff'); font-weight: bold; font-style: normal; }

		@font-face { font-family: 'Averta'; src: url('https://res.cloudinary.com/waybetter/raw/upload/v1593615865/external/fonts/Averta-ExtraBold.woff'); font-weight: 900; font-style: normal; }
	</style>

	<style type="text/css" media="screen">
		body { padding:0 !important; margin:0 auto !important; display:block !important; min-width:100% !important; width:100% !important; background:#ffffff; -webkit-text-size-adjust:none }
		a { color:#000001; text-decoration:none }
		p { padding:0 !important; margin:0 !important }
		img { margin: 0 !important; -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ }

		.tdn { text-decoration: none; }

		.btn-16 a { display: block; padding: 13px 10px; text-decoration: none; }

		.l-grey a { color: #4c585f; }
		.l-white a { color: #ffffff; }
		.l-purple a { color: #6a1093; }


		/* Mobile styles */
		@media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
			.mpb-40 { padding-bottom: 40px !important; }

			.mfz-30 { font-size: 30px !important; }

			.mlh-34 { line-height: 34px !important; }

			.mfz-16 { font-size: 16px !important; }

			.mlh-23 { line-height: 23px !important; }

			.mpb-15 { padding-bottom: 15px !important; }

			.mpx-15 { padding-left: 15px !important; padding-right: 15px !important; }

			.mfz-27 { font-size: 27px !important; }

			.mlh-32 { line-height: 32px !important; }

			.mlh-20 { line-height: 20px !important; }

			.mpb-30 { padding-bottom: 30px !important; }

			.mpxp-9 { padding-left: 9% !important; padding-right: 9% !important; }

			u + .body .gwfw { width:100% !important; width:100vw !important; }

			.td,
			.m-shell { width: 100% !important; min-width: 100% !important; }

			.mt-left { text-align: left !important; }
			.mt-center { text-align: center !important; }
			.mt-right { text-align: right !important; }

			.me-left { margin-right: auto !important; }
			.me-center { margin: 0 auto !important; }
			.me-right { margin-left: auto !important; }

			.mh-auto { height: auto !important; }
			.mw-auto { width: auto !important; }

			.fluid-img img { width: 100% !important; max-width: 100% !important; height: auto !important; }

			.column,
			.column-top { float: left !important; width: 100% !important; display: block !important; }

			.kmMobileStretch { float: left !important; width: 100% !important; display: block !important; padding-left: 0 !important; padding-right: 0 !important; }

			.m-hide { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }
			.m-block { display: block !important; }

			.mw-15 { width: 15px !important; }
			.mw-220 { width: 220px !important; }

			.mw-2p { width: 2% !important; }
			.mw-32p { width: 32% !important; }
			.mw-49p { width: 49% !important; }
			.mw-50p { width: 50% !important; }
			.mw-100p { width: 100% !important; }
		}
	</style>

<!-- END waybetter-marketing-email-2_lt-head-content -->