<!-- START waybetter-marketing-email-4_grid-header-row -->

<!-- Header -->
<tr>
	<td class="fluid-img pb-48 mpb-36" style="font-size:0pt; line-height:0pt; text-align:left; padding-bottom: 48px;">
		<a href="{{header_row_image_link_url}}" target="_blank">
			<img src="{{header_row_image_url}}" width="600" height="568" border="0" alt="" />
		</a>
	</td>
</tr>
<!-- END Header -->

<!-- END waybetter-marketing-email-4_grid-header-row -->
