<!-- START waybetter-marketing-email-team-support-link -->

	<!-- Footer -->
  <tr>
    <td class="pb-37" style="padding-bottom: 37px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="text-16 lh-24 a-center" style="font-size:16px; color:#000001; font-family:'Roboto', Arial, sans-serif; min-width:auto !important; line-height:24px; text-align:center;">
            Team WayBetter<br />
            <a href="mailto:{{wb_support_email}}" target="_blank" class="link-u c-purple" style="text-decoration:underline; color:#6a1099;">
              <span class="link-u c-purple" style="text-decoration:underline; color:#6a1099;">
                {{wb_support_email}}
              </span>
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- END Footer -->

<!-- END waybetter-marketing-email-team-support-link -->
