<!-- START waybetter-marketing-email-2_lt-top-spacer-column-left -->

<td class="mw-15" width="45">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	  	<td class="img" style="padding: 411px 0 410px; font-size:0pt; line-height:0pt; text-align:left;">&nbsp;</td>
	  </tr>
  </table>
</td>

<!-- END waybetter-marketing-email-2_lt-top-spacer-column-left -->