<!-- START waybetter-marketing-email-2_lt-top-end -->

								{{content_blocks.${waybetter-marketing-email-2_lt-top-center-column-end}}}

								{% comment %} This provides some padding to the right {% endcomment %}
								{{content_blocks.${waybetter-marketing-email-2_lt-top-spacer-column-right}}}

							</tr>
						</table>
					</div>
					<!--[if gte mso 9]>
					</v:textbox>
					</v:rect>
					<![endif]-->
				</td>
			</tr>
		</table>
	</td>
</tr>
<!-- END Header -->

<!-- END waybetter-marketing-email-2_lt-top-end-->