@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
	font-family: 'Noto Sans', sans-serif;
}

body {
	background-color: rgb(243, 255, 230);
	color: #646464;
}

h1 {
	font-size: 3em;
	border-bottom: 1px solid black;
	text-align: center;
	box-shadow: 3px 3px 3px #5e5e5e;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	width: 450px; 
	height:300px;
	margin: 15px;
	transition: all .8s;
}

img:hover {
	transform: scale(1.08)
}