<% include partials/head %>

<p>this is the thing/<%= thingVar %> page</p>

<% if(thingVar.toLowerCase() === 'vader'){ %>
<img src="https://www.swarovski.com/medias/?context=bWFzdGVyfHJvb3R8NjE3NDF8aW1hZ2UvanBlZ3xoYzkvaGQ0LzkwMTUwMDQ1Mjg2NzAuanBnfDQ5ODFjOTFiMjFiYmZiZTdlOGExMGUyM2UyZDFmZmNhN2FmMTYzOTI5YjU2MDJkY2M4ZmRlNGY0YWMyM2E5NmM"
        width="100px" />
<% } %>

<!-- The "="" sign is only used when using logic -->


<% include partials/foot %>