@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    background-color: #ffe9a0;
    font-family: 'Roboto', sans-serif;
}

hr {
    border-top: 6px dotted #ff733c;
    width: 60px;
    text-align: left;
    margin-left: 0;
}

h1, h3 {
    color: #269189;
}