{% assign wb_logo_image_url = "https://appboy-images.com/appboy/communication/assets/image_assets/images/6082a0abd695747d39043410/original.png?1619173547" %}

{% assign header_image_url = "https://appboy-images.com/appboy/communication/assets/image_assets/images/6082a670e4ad3912577fdaec/original.jpg?1619175024" %}  
	
{{content_blocks.${wb-tx-email-1_lt-all-pre-content}}}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="text-18 lh-28 l-black mfz-16 mlh-24 pb-48 mpb-28 pr-80 mpr-40" style="font-size:18px; color:#000001; font-family:'Roboto', Arial, sans-serif; text-align:left; min-width:auto !important; line-height:28px; padding-bottom: 48px; padding-right: 80px;">
				Hi [name],
				<br /><br />
				Your WayBetter Membership is about to renew. Your card will be charged [cost] on [date]. 
				<br /><br />
				As a WayBetter Member, you can join up to 10 games at once across fitness, nutrition, and mindfulness categories. Make the most of your membership and join a game now!
			</td>
		</tr>
		<tr>
			<td>
				<!-- Button -->
				<table border="0" cellspacing="0" cellpadding="0" >
					<tr>
						<td class="btn-19 mfz-16 mlh-20" width="230" style="font-size:19px; line-height:23px; mso-padding-alt:14px 15px; color:#ffffff; font-family:'Roboto', Arial, sans-serif; text-align:center; min-width:auto !important; background-color:#db4f4b; border-radius:25px;">
							<a href="#" target="_blank" class="link c-white" style="padding: 14px 15px; display: block; text-decoration:none; color:#ffffff;">
								<span class="link c-white" style="text-decoration:none; color:#ffffff;">
									Explore games
								</span>
							</a>
						</td>
					</tr>
				</table>
				<!-- END Button -->
			</td>
		</tr>
	</table>

  {{content_blocks.${wb-tx-email-1_lt-all-post-content}}}